// Params
params {
    input_files = "${projectDir}/../data/mouse/split_per_id/samples.txt"
    outdir = "${projectDir}/../data/mouse/nextflow_out"
    preprocess = false
    k = 31
}

// Rust binary path
params.rust = "${projectDir}/../rust_dbg/target/release/rust_dbg"

// Must be enable to install ggcat via conda
// Other needed dependencies: dashing (https://github.com/dnbaker/dashing)
conda.enabled = true

// Parmeters for local execution
executor {
    cpus = 8
    memory = '40 GB'
}